body
{
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';    
    color: brown;
    background-color:mintcream;
    font-size: 30px;
}

h1 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: darkred;
    background-color:aliceblue; 
}


